<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <title>开发哩</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="开发哩">
    <meta name="application-name" content="开发哩">

    <%= for size <- [57, 60, 72, 76, 114, 120, 144, 152, 180] do %>
      <link rel="apple-touch-icon" type="image/x-icon" sizes="<%= #{size}x#{size} %>" href="<%= static_path(@conn, "/images/apple-touch-icon-#{size}x#{size}.png") %>">
    <% end %>
    <%= for size <- [16, 32, 96] do %>
      <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon-#{size}x#{size}.png") %>">
    <% end %>
  </head>
  <body>
    <main role='main'>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>")></script>
  </body>
</html>
