<h2>New document</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_document_path(@conn, :create) %>

<%= link "Back", to: admin_document_path(@conn, :index) %>
